#fotomenu {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 60px calc(100vh - 117px) 40px;
    grid-template-areas: "header header" "sidebar content" "footer footer";

}
#fotomenu > * {
    margin: 2px;
    padding: 3px;
    background-color: lightpink;
}

header {
    grid-area: header;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
header > img {
    width: auto;
    height: 100%;
}
header > .actions {
    text-align: right;
    margin-left: auto;
}

footer {
    grid-area: footer;
}
.sidebar {
    grid-area: sidebar;
    overflow: auto;



}
.content {
    grid-area: content;
    object-fit: contain;
}


.tiny {
    max-width: 150px;
    max-height: 100%;
    object-fit: cover;

}

.sidebar img:hover {
    opacity: 1;
}

/*van w3 */
* {
         box-sizing: border-box;
     }

body {
    margin: 0;
    font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */


/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: inherit;
    display: none;

}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}